@import 'snnipets/normalize';
@import 'snnipets/grid';
@import 'snnipets/colors';
@import 'snnipets/helpers';
@import 'snnipets/fonts';
@import 'sections/header';
@import 'sections/headline';
@import 'sections/apply-area';
@import 'sections/application-procedure';
@import 'sections/footer';

body{
    font-family: Arial, Helvetica, sans-serif;
}

@media print{

}