.application-procedure{
    background: url('/static/images/bg-application-procedure.png') no-repeat;
    position: relative;
    height: 382px;

    .application-details{
        margin: 50px auto;
        background: $light;

        article{
            padding: 30px 0;

            &.first-item{
                padding-left: 30px;
            }

            h1{
                padding-bottom: 20px;
                font: bold 40px 'yanone';
                text-transform: uppercase;
            }
        }

        .list-details{
            padding-left: 15px;

            li{
                list-style: disc;
                font: 13px 'museo_sans';
                color: $inversecloud;
                padding-bottom: 10px;
            }
        }

        .continue-reading{
            font: 13px 'museo_sans';
            color: $cloud;
            padding-top: 30px;
            display: block;
        }

        .get-in-touch{
            color: $inversecloud;
            font: 13px 'museo_sans';

            strong{
                font-size: 16px;
                display: block;
                padding-bottom: 20px;
            }

            a{
                text-decoration: none;
                color: $inversecloud;

                &.underline{
                    text-decoration: underline;
                }
            }
        }
    }

    .back-top{
        position: absolute;
        bottom: 0;
        right: 0;
        font: 13px 'museo_sans';
        text-decoration: none;
        padding: 15px;
        background: $light;
        color: $cloud;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 600px) {
    .application-procedure{
        height: auto;
        background-repeat: repeat;

        .back-top{
            display: none;
        }

        .application-details{
            background: none;
            margin: 20px auto;

            article{
                margin: 0 auto 10px;
                padding: 10px;
                box-sizing: border-box;
                background: $light;
                width: 90%;
                float: none;

                &.first-item{
                    padding: 10px;
                }

                h1{
                    font-size: 30px;
                }
            }
        } 
    } 
}
