.container-apply-area{
    background: $lightcloud;
    padding-bottom: 30px;
}

.apply-area{
    @import '../snnipets/inputs';
    margin: 0 auto;

    h1{
        font: bold 50px 'yanone';
        padding: 40px 0 20px;
        color: $inverse;
        text-transform: uppercase
    }

    h2,
    h3{
        font: 16px 'museo_sans';
        color: $inverse;
    }

    h3{
        padding: 40px 0 20px 0; 
    }

    .container-input{
        padding-bottom: 0;
    }

    .back-description{
        display: block;
        font: 13px 'museo_sans';
        color: $cloud;
        padding-top: 80px;
        text-decoration: none;
    }

    .documents{
        margin-bottom: 8px;
         
        label,
        .fake-input{
            @include inline-block;
        }

        .fake-button{
            margin-right: 4px;
        }

        label{
            width: 135px;
            font: 13px 'museo_sans';

            &.error{
                color: $warm;
            }

            &.valid{
                background: url('/static/images/icon-checked.png') no-repeat right center;
            }
        }
    }

    .applying{
        @include inline-block;
        padding-top: 60px;

        label{
            font: 13px 'museo_sans';
            color: $inversecloud;
        }

        &.first-item{
            width: 135px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .apply-area{
        padding: 0 20px;
        box-sizing: border-box;

        h1{
            font-size: 30px;
        }

        .container-input input,
        .container-input textarea{
            width: 100% ;
            box-sizing: border-box;
        }

        h3{
            padding-top: 20px;
        }

        .back-description{
            padding-top: 40px;
        }

        .fake-input{
            width: 100%;
            
            .fake-button{
                width: 100%;
                margin: 0 0 5px; 
            }
        }

        .applying{
            width: 100%;
            box-sizing: border-box;
            padding-top: 0;

            input{
                width: auto;
            }

            &.first-item{
                width: 100%;
                padding-top: 20px;
            }
        }
    }
}