.footer{
    background: $light;

    .footer-links{
        border-top: 1px solid $clearcloud;
        margin: 30px auto;
        padding-top: 15px;

        ul{
            float: left;
            margin-right: 20px;
        }

        li{
            a{
                font: 12px 'museo_sans';
                color: $cloud;
                text-decoration: none;
            }
        }

        .list-title{
            font: 15px 'museo_sans';
            padding-bottom: 20px;
            text-transform: uppercase; 
            color: $darkcloud;
            font-weight: normal;
        }
    }

    .footer-copyright{
        background: $lightcloud;

        div{
            margin: 0 auto;
        }

        p{
            font: 13px  'museo_sans';
            color: $inversecloud;
            padding: 30px 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer{
        .footer-links{
            width: 90%;
        }
    }
}