.headline{
    .parallax{
        background: url('/static/images/bg-banner.png') no-repeat;
        width: 100%;
        height: 305px;
    }

    .banner{
        text-align: center;
        text-transform: uppercase;
        margin: 40px auto;
        position: relative;

        .transparency{
            background: $inverse;
            opacity: .5;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        h1,
        p{
            font-family: 'yanone';
            color: $light;
            position: relative;
            z-index: 2;
        }

        h1{
            font-size: 70px;
        }

        p{
            font-size: 40px;
        }
    }
}


@media only screen and (max-width: 600px) {
    .headline{
        .parallax{
            height: auto;
        }

        .banner{
            h1{
                font-size: 40px;
            }

            p{
                font-size: 20px;
            }
        } 
    } 
}