.header{
    background: $inverse;
    text-align: center;
    padding: 5px 0;

    .hamburger{
        display: none;
    }

    .logo{
        @include inline-block;
        font: 39px 'yanone', sans-serif;
        color: $light;
        text-transform: uppercase;
        padding-right: 100px;
        line-height: 40px;
    }

    .menu{
        @include inline-block;

        li{
            float: left;
            padding-right: 40px;

            &.last-item{
                padding-right: 0;
            }
        }

        a{
            font-size: 12px;
            color: $light;
            text-transform: uppercase;
            text-decoration: none;

            &.current{
                text-decoration: underline;
            }
        }
    }

    .search-box{
        @include inline-block;
        padding-left: 100px;

        input{
            width: 270px;
            color: $darkcloud;
            text-transform: uppercase;
            border: 0;
            font-size: 12px;
            padding: 5px 15px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .header{
        width: 55px;
        height: 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;

        .hamburger{
            display: inline-block;
            cursor: pointer;
        }
        
        .bar1, 
        .bar2, 
        .bar3 {
            width: 35px;
            height: 5px;
            background: $light;
            margin: 6px 0;
            transition: .4s;
        }
        
        .change{
            margin-left: 6px;
            
            .bar1 {
                transform: rotate(-45deg) translate(-9px, 6px);
            }
        }
        
        .change{
            .bar2 {
                opacity: 0;
            }
        }
        
        .change{ 
            .bar3 {
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }

        .menu,
        .logo,
        .search-box{
            display: none;
        }

        &.open{
            width: 80%;
            height: 100%;
            text-align: left;

            .logo,
            .menu{
                display: block;
                padding: 10px;

                li{
                    float: none;
                }
            }

            .search-box{
                padding: 10px;
                display: block;

                input{
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }
}