@font-face {
    font-family: 'museo_sans';
    src: url('/static/fonts/museosans_500-webfont.woff2') format('woff2'),
         url('/static/fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yanone';
    src: url('/static/fonts/yanonekaffeesatz-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/yanonekaffeesatz-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}