/*------------------------------*\
    Grid System
\*------------------------------*/
.row, 
.katrina-column,
.katrina-1-column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.katrina-column {
    position: relative;
    float: left;
    display: block;
}

.katrina-column + .katrina-column {
    margin-left: 1.6%;
}
.katrina-column + .katrina-column.last {
    margin-left: 0;
    padding-right: 0
}
.katrina-column-1 {
    width: 6.86666666667%;
}
.katrina-offset-1{
	margin-left:6.86666666667%;
}

.katrina-column-2 {
    width: 15.3333333333%;
}

.katrina-offset-2{
	margin-left:15.3333333333%;
}

.katrina-column-3 {
    width: 23.8%;
}

.katrina-offset-3{
	margin-left:23.8%;
}

.katrina-column-4 {
    width: 32.2666666667%;
}

.katrina-column-5 {
    width: 40.7333333333%;
}

.katrina-column-6 {
    width: 49.2%;
}

.katrina-column-7 {
    width: 57.6666666667%;
}

.katrina-column-8 {
    width: 66.1333333333%;
}

.katrina-column-9 {
    width: 74.6%;
}

.katrina-column-10 {
    width: 83.0666666667%;
}

.katrina-column-11 {
    width: 91.5333333333%;
}

.katrina-column-12 {
    width: 100%;
    margin-left: 0;
}
.katrina-row-height {
  display: inline-table;
  height: 100%;
  width: 100%;
}
.katrina-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.katrina-inline-block {
  display: inline-block;
  float: none;
  height: 100%;
}
.katrina-top {
  vertical-align: top;
}
.katrina-middle {
  vertical-align: middle;
}
.katrina-bottom {
  vertical-align: bottom;
}

.row.katrina-2-column{
    float: right;
    width: 80%
}
.row.katrina-2-column.margin{
    margin: 30px 0 0
}
.row.katrina-2-column.margin aside.katrina-1-column{
    margin: 0 40px 0 0

}   
.row.katrina-2-column.left{
    float: left;
}    
.katrina-column.katrina-align-left{
	text-align:left;
}
.katrina-column.katrina-align-right{
	text-align:right;
}
.katrina-column.sml-offset-padding{
	padding-left:1.6%;
	box-sizing:content-box;
}

@media only screen and (max-width: 600px) {
    .katrina-column-1, 
    .katrina-column-2, 
    .katrina-column-3, 
    .katrina-column-4, 
    .katrina-column-5, 
    .katrina-column-6, 
    .katrina-column-7, 
    .katrina-column-8, 
    .katrina-column-9, 
    .katrina-column-10, 
    .katrina-column-11, 
    .katrina-column-12,
    aside.katrina-1-column,
    .row.katrina-2-column {
        float: none;
        width: 100%;
    }
  
    .katrina-column + .katrina-column {
        margin-left: 0;
        background: transparent;
    }
    .katrina-column {
        padding: 5px 8px;
    }
}

.katrina-column {
    padding: 15px 0;
    min-height: 50px;
    height: auto;
    display: block;
    float: left;
}

.row {
    margin-bottom: 10px;

    &.non-gap{
        margin-bottom: 0;
    }
}

.row:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .row {
        margin-bottom: 0;
    }
    .row:last-child .katrina-column:last-child {
        margin-bottom: 0;
    }
    .katrina-inline-block{
        display: table-cell;
    }
    aside.katrina-1-column{
        min-height: auto
    }

}