.hide{
    display: none;
}

.invisible{
    visibility: hidden;
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $inverse;
    opacity: .4;
    z-index: 5;
}

.message{
    width: 200px;
    text-align: center;
    background: $light;
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -120px;
    padding: 10px;
    z-index: 5;
    font: 20px 'yanone';
}

@mixin inline-block {
    display: inline-block;
    vertical-align: middle;
}