.textarea,
.input{
    width: 95%;
    background: $light;
    border: 1px solid $light;
    color: $cold;
    padding: 10px;
    font: 12px 'museo_sans';

    &.error{
        border-color: $warm;
        color: $warm;

        // ::placeholder { 
        //     color: $warm;
        //     opacity: 1;
        // }
        
        // :-ms-input-placeholder { 
        //     color: $warm;
        // }
        
        // ::-ms-input-placeholder {
        //     color: $warm;
        // }
    }

    &.valid{
        background: $light url('/static/images/icon-checked.png') no-repeat 98% center;
    }
}

.textarea{
    height: 100px;

    &.valid{
        background: $light url('/static/images/icon-checked.png') no-repeat 98% 10px;
    }
}

.fake-input{
    position: relative;

    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 150px;
    }

    .fake-button{
        background: $darkcould;
        color: $light;
        font-size: 13px;
        text-align: center;
        width: 150px;
        padding: 5px 0;
        text-transform: uppercase;

        &.last-item{
            margin-right: 0;
        }

        i{
            @include inline-block;
            width: 26px;
            height: 26px;

            &.upload{
                background: url('/static/images/icon-upload.png') no-repeat center center;
            }

            &.dropbox{
                background: url('/static/images/icon-dropbox.png') no-repeat center center;
            }
        }
    }
}

.submit{
    background: $darkcould;
    color: $light;
    font-size: 13px;
    text-align: center;
    width: 308px;
    padding: 10.5px 0;
    text-transform: uppercase;
    border: 0;
}

@media only screen and (max-width: 600px) {
    .submit{
        width: 100%;
    }
}